@model IEnumerable<Ecommerce.Application.DTOs.CategoryDto>

<h2>Category List</h2>

<a asp-action="Create" class="btn btn-primary mb-3">
    Add Category
</a>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.CategoryID</td>

                <td>@item.CategoryName</td>

                <td>@item.Slug</td>

                <td>@item.IsActive</td>

                <td>

                    <a asp-action="Edit"
                           asp-route-id="@item.CategoryID"
                           class="btn btn-warning btn-sm">
                        Edit
                    </a>

                    <a asp-action="Delete"
                           asp-route-id="@item.CategoryID"
                           class="btn btn-danger btn-sm">
                        Delete
                    </a>

                </td>

            </tr>
        }

    </tbody>

</table>