@model IEnumerable<Ecommerce.Application.DTOs.ProductDto>

@{
    ViewData["Title"] = "Product List";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Products</h3>

        <div class="card-tools">
            <a asp-action="Create" class="btn btn-primary btn-sm">
                Add Product
            </a>
        </div>
    </div>

    <div class="card-body">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th width="180">Action</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.ProductID</td>

                        <td>@item.ProductName</td>

                        <td>@item.CategoryName</td>

                        <td>@item.Price</td>

                        <td>
                            @if (!string.IsNullOrEmpty(item.ProductImage))
                            {
                                <img src="@item.ProductImage" width="60" />
                            }
                        </td>

                        <td>
                            <a asp-action="Edit"
                                   asp-route-id="@item.ProductID"
                                   class="btn btn-warning btn-sm">
                                Edit
                            </a>

                            <a asp-action="Delete"
                                   asp-route-id="@item.ProductID"
                                   class="btn btn-danger btn-sm">
                                Delete
                            </a>
                        </td>

                    </tr>
                }

            </tbody>

        </table>

    </div>
</div>